@model Attendance.Models.EnglishClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnglishClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMonday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMonday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsThursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsThursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFriday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFriday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
