<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 4th Source Attendance Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @{ 
        string successMsg = TempData.ContainsKey("SuccessMsg") ? (string)TempData["SuccessMsg"] : string.Empty;
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("English Assistance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*Barra de menu*@
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                    <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                    <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                    <li>@Html.ActionLink("Students", "Index", "Students")</li>
                    <li>@Html.ActionLink("English Classes", "Index", "EnglishClasses")</li>
                    <li>@Html.ActionLink("Enrollments", "Index", "Enrollments")</li>
                    <li>@Html.ActionLink("Attendance", "Index", "Attendances")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @if (!string.IsNullOrEmpty(successMsg))
        {
            <div class="alert-success">
                <p class="alert">@successMsg</p>
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 4th Source Attendance Project</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false) 

</body>
</html>
